.Navigation {
  font-family: 'Red Rose', cursive;
  box-shadow: 1px 3px 5px black;
  width: 80%;
  margin-left: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A05656;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(143, 119, 119);
}